*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(#E6E6FA,#B8E7FA);
}
#header{
     background-color: rgb(255, 255, 255);
    stroke-width: 1px;
    stroke:#abc7f7 ;
    align-items: center;
    margin: auto auto;
    padding-bottom: 15px;
   display: flex;
   justify-content: space-between;
}
.black{
    font-weight: bolder;
    padding: 10px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
}
span{
    font-weight: bolder;
    color: #FFA500;
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to left, #ffd447 , #FFA500 );
    box-shadow: 0px 5px 15px  #C6DBFF ;
    font-weight: bold;
    cursor: pointer;
    text-align: justify;
    margin-right: 30px;
    margin-top: 20px;
    
}
.btn2{
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient(to left, #ffd447 , #FFA500 );
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 5px 15px  #b3ccf5 ;
    
}
.hero{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #E6EDF9;
    margin: 70px 60px 100px 60px;
    padding: 20px;
    border-radius: 10px
}
.hero h2{
    font-size: 2.5rem;
    color: #000000;
    font-style: bold;
    margin-bottom: 20px;

}
.hero p{
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 20px;
}
.hero2{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #E6EDF9;
  margin-left: 40px;
  margin-right: 40px;
    padding: 20px;
    border-radius: 10px;
      
}
.blog{
    
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 70px 60px 100px 60px;
    padding: 20px;
    border-radius: 10px;
     
}
.blog2{

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    padding: 20px 40px;
   
    background-color: #E6EDF9;
    border-radius: 16px;
}
.blogs1{
    text-align: start;
    align-items: start;

}
.blog1{
    margin: 10px 10px 10px 50px; 
}
.blog1 p{
    margin-bottom: 30px;
}
.blogs1 p{
    font-size: 14px;
color: #0D1321;
    margin-bottom: 30px;
    margin-top: 20px;
}
.blogs1 h2{
    font-style: bolder;
    font-size: 24px;
    margin-bottom: 10px;
}
.blog1 h2{
    font-size: 2rem;
    
    font-style: bold;
    margin-bottom: 20px;
    
}
.my-inspiration1{
    text-align: center;
    align-items: center;
    justify-content: center;

    margin: 70px 60px 100px 60px;
    padding: 20px;
    border-radius: 10px;
}
.my-inspiration1 h2{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    color: #000000;
    font-style: bold;
    margin-bottom: 20px;

}
.my-inspiration1 p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
    word-spacing: 3px;
} 
.my-inspiration2{
    text-align: center;
    align-items: center;
    justify-content: center;
    
    margin-left: 230px;
    margin-right: 230px;
    padding: 20px;
    border-radius: 10px;
}

.youtube iframe{
    font-size: 1.5rem;
    color: #000000;
    font-style: bold;
    margin-bottom: 20px;
    border: #C6DBFF;
    border-radius: 10px;
    width: 80%;
    height: 500px;
    box-shadow: 0px 5px 20px  #b3ccf5 ;
    
  
}
.box{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 70px 60px 100px 60px;
    padding: 20px;
    border-radius: 10px;
}
.box-tab{
 
    border-collapse: collapse;
    margin: 20px 30px 50px 30px;
    gap: 40px;
    display: flex;
}
.box p{

    margin-bottom: 60px;
}
.tab1{
width: 100%;
    background: #dcba3f;
    padding: 20px 5px;
    align-items: start;
    text-align: start;
      background: linear-gradient(to top, #9DE5FF, #E6EDF9);
      border-radius: 10px;
      border-style: groove;
      border-width: 0px;
     box-shadow: 0px 5px 15px  #b3ccf5 ;
}
.tab2{
width: 100%;
    background: #dcba3f;
    padding: 20px 5px;
    align-items: start;
    text-align: start;
      background: linear-gradient(to top, #9DE5FF, #E6EDF9);
      border-radius: 10px;
      border-style: groove;
      border-width: 0px;
      box-shadow:2px 5px #c4c5c800;
      box-shadow: 0px 5px 15px  #b3ccf5 ;
  
}

.tab3{
width: 100%;
    background: #dcba3f;
    padding: 20px 5px;
    align-items: start;
    text-align: start;
      background: linear-gradient(to top, #9DE5FF, #E6EDF9);
      border-radius: 10px;
      border-style: groove;
      border-width: 0px;
      box-shadow:2px 5px #c4c5c800;
      box-shadow: 0px 5px 15px  #b3ccf5 ;
  
}



.tab1 img{

    margin: 20px 0 ;
}
.tab2 img{

    margin: 20px 0 ;
}

.tab3 img{

    margin: 20px 0 ;
}
.tab1 h2 ,.tab2 h2, .tab3 h2{
    margin-top: 10px;
    margin-bottom: 10px;


}

.footer{
       display: flex;
       align-items: center;
    justify-content:space-between;
    background-color: #E6EDF9;
    padding: 10px;

}
.footer2{ 
    
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #E6EDF9;
    padding: 10px;
    gap: 20px;
}
.last{
    font-style: bold;
}
.btn:hover{
    color: #FFA500;
  background: #0c38af;
}
.btn2:hover{
    color: #FFA500;
  background: #0c38af;
}







